#swiper-feature {
    position: absolute;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: contain;
        width: 200px;
        height: auto;
        max-height: 500px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }
}
